//=============================================  VARIABLES  =============================================//

$black: 000;


//=============================================  FONTS  =============================================//


//=============================================  HTML  =============================================//

::selection {
    background-color: red;
    color: blue;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    height: max-content;
    grid-template-rows: min-content auto min-content;
}

//=============================================  HEADER  =============================================//

header {
    position: sticky;
    top: 0%;
    grid-row: 1/2;
    z-index: 100;
}

//=============================================  INDEX  =============================================//

main {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 10% 80% 10%;

    .mainImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        height: 500px;
        width: 100%;
        grid-column: 1/4;
        background-color: red;
    }

    .mainContent {
        margin: 50px 0 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        grid-column: 2/3;

        section {
            display: flex;
            gap: 20px;

            .imgText {
                height: 400px;
                min-width: 400px;
                background-color: purple;
            }

            p {
                width: auto;
                text-align: justify;
            }

            .right {
                display: flex;
                gap: 20px;
            }
        }

        .cardContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: min-content;
            gap: 15px;
            margin: 20px 0 20px 0;

            .card {
                position: relative;
                height: 350px;
                width: 250px;
                background-color: red;

                .card-body {
                    transition: ease all .50s;
                    position: absolute;
                    height: 0%;
                    bottom: 0%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, 0.4);
                    overflow: hidden;
                    opacity: 0;
                }

                &:hover {
                    .card-body {
                        height: 100%;
                        opacity: 1;
                    }
                }
            }
        }

        .brands {
            height: min-content;
            width: 100%;
            background-color: yellowgreen;

            .contenedordemarcas {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .prueba {
                height: 200px;
                width: 30%;
                margin: auto;
                background-color: cyan;
                border: 2px solid black;
            }
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 769px) {
    section {
        display: flex;
        flex-direction: column;

        .imgText {
            height: 100%;
            width: 100%;
        }

        p {
            width: auto;
            text-align: justify;
            line-height: 28px;
        }

        .right {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .cardContainer {
        width: 90%;
        flex-wrap: wrap;
    }

    .contenedordemarcas {
        flex-wrap: wrap;
    }

    .prueba {
        height: 100px !important;
    }
}

@media only screen and (max-width: 426px) {
    .imgAndText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainImg {
        text-align: center;

        h1 {
            font-size: 50px;
        }
    }

    section {
        p {
            // width: 80%;
            padding: 0 10% 0 10%;
        }
    }
}


//=============================================  ABOUT US  =============================================//
.mainContent {
    height: min-content;
    .contentTop {
        width: 100%;
        height: min-content;
        background-color: green;
        display: flex;

        .infoLeft {
            min-height: 250px;
            min-width: 200px;
            background-color: red;
        }

        .infoRight {
            background-color: yellow;
            height: 100%;
            width: 100%;
            p{
                text-align: justify;
                padding: 0 20px 0 20px;
            }
        }
    }

    .contentBottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: min-content;
        background-color: rebeccapurple;
        gap: 20px;

        .studies {
            height: 100px;
            min-width: 100px;
            background-color: black;
        }
    }
}


//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 426px) {
    .contentTop {
        height: min-content;
        flex-direction: column;
        .infoLeft{
            height: 100px;
        }
    }
    .contentBottom {
        flex-wrap: wrap;
    }
}


//=============================================  CONTACT  =============================================//

form {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: min-content;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .form-group {
        width: 60%;
    }

    .form-control {
        letter-spacing: 2px;
    }

    span {
        font-style: italic;
        font-size: 15px;
    }
}

.peopleWhoTrust {
    width: 100%;
    height: 300px;
    grid-column: 2/3;
    background-color: rebeccapurple;
    margin-top: 20px;

    .commentary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }


}

//=============================================  FOOTER  =============================================//

footer {
    display: grid;
    height: min-content;
    grid-template-rows: auto 20px;
    grid-template-columns: 10% auto 10%;
    background-color: green;

    .footerContent {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textFooter {
        height: min-content;
        width: 30%;
        text-align: justify;
    }

    .footerDev {
        grid-row: 2/3;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
    }

    .footerItem {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 767px) {
    .footerItem {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .textFooter {
        width: 100% !important;
    }

    .footerContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerDev {
        padding: 20px;
        margin-top: 20px;
    }
}

.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}